.astronaut *{
	position: absolute;
	display: flex;
	justify-content: center;
	place-self: center;
}

.astronaut{
	position: absolute;
	top: 25vh;
	left: 25vw;
	z-index: 10;
	transform: scale(.75);
}

.background{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(indigo, violet);
}

.backpack .main{
	width: 5.5vmin;
	height: 5.5vmin;
	border-radius: 10%;
	background-color: white;
	border: .4vmin solid black;
	transform: translateY(-1vmin);
}

/* ------------------------------------------------------------- */

.body>.legs{
	transform: translateY(1.75vmin);
}

.body>.legs>*{
	width: .9vmin;
	height: 2vmin;
	border-radius: 50%;
	background-color: white;
	border: .35vmin solid black;
}

.body>.legs>.left{
	transform: translateX(-1.5vmin) rotate(10deg);
}

.body>.legs>.right{
	transform: translateX(1.5vmin) rotate(-10deg);
}

.body>.legs>.crotch{
	width: 2.5vmin;
	height: 1vmin;
	clip-path: polygon(20% 100%, 80% 100%, 95% 25%, 10% 25%);
}

.body>.arms>*{
	width: .75vmin;
	height: 2.5vmin;
	border-radius: 50%;
	background-image: linear-gradient(white 55%, darkred 57%, darkred 75%, white 77%);
	border: .4vmin solid black;
}

.body>.arms>.left{
	transform: translateX(-2.5vmin) rotate(30deg);
}

.body>.arms>.right{
	transform: translateX(2.5vmin) rotate(-30deg);
}

.body .torso{
	width: 3.5vmin;
	height: 0;
	border-left: 1vmin solid transparent;
	border-right: 1vmin solid transparent;
	border-bottom: 3.5vmin solid black;
}

.body .torso::before{
	content: "";
	position: absolute;
	width: 3vmin;
	height: 0;
	border-left: .8vmin solid transparent;
	border-right: .8vmin solid transparent;
	border-bottom: 3vmin solid white;
	transform: translateY(.25vmin);
}

.body>.torso>.buttons{
	width: 2.5vmin;
	height: 1vmin;
	border-radius: .5vmin;
	background-color: white;
	border: .3vmin solid black;
	transform: translateY(2.1vmin);
}

.body>.torso>.buttons::before{
	content: "";
	position: absolute;
	width: .25vmin;
	height: .25vmin;
	border-radius: 50%;
	background-color: darkred;
	border: .2vmin solid black;
	transform: translate(-.8vmin, 0.1vmin);
}

.body>.torso>.buttons::after{
	content: "";
	position: absolute;
	width: 0.85vmin;
	height: 0.6vmin;
	border-radius: .30vmin;
	background-image: linear-gradient(yellow 33%, black 35%, black 45%, yellow 47%);
	border: .2vmin solid black;
	transform: translate(0.6vmin, 0.0vmin);
}



/* --------------------------------------------------------------- */

.head{
	transform: translateY(-6vmin);
}

.head .ears{
	width: 11.5vmin;
	height: 4.25vmin;
	background-color: white;
	border-radius: 1.75vmin;
	border: .4vmin solid black;
}

.head .helmet{
	width: 10vmin;
	height: 10vmin;
	border-radius: 50%;
	background-color: white;
	border: .4vmin solid black;
}

.head .face{
	width: 8.5vmin;
	height: 8.5vmin;
	border-radius: 50%;
	background-image: radial-gradient(at center, black 65%, white 67%);
	border: .3vmin solid black;
	transform: translateY(.25vmin);
}

.head .face::after{
	content: "";
	width: 2vmin;
	height: .75vmin;
	border-radius: 50%;
	background-color: white;
	transform: translate(-1.5vmin, 1vmin) rotate(-30deg);
}

.head .face::before{
	content: "";
	width: .40vmin;
	height: .40vmin;
	border-radius: 50%;
	background-color: white;
	transform: translate(-1.5vmin, 2.25vmin);
}

